.banner {
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-image: url("../images/tdotCrop.jpg");
  z-index: 1;
  position: relative;

}
nav ul li a {
 color: white;
}

.MainText {

    margin: 0 auto;
    max-width: 1000px;

}
